<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="ro.pub.acs.traffic.collector.dao" />

    <bean id="abstractService" class="ro.pub.acs.traffic.collector.service.AbstractService" abstract="true">
    </bean>

    <bean id="historyService" class="ro.pub.acs.traffic.collector.service.HistoryService" parent="abstractService">
        <property name="dao" ref="historyDAO"/>
    </bean>

    <bean id="locationService" class="ro.pub.acs.traffic.collector.service.LocationService" parent="abstractService">
        <property name="dao" ref="locationDAO"/>
    </bean>

    <bean id="statsService" class="ro.pub.acs.traffic.collector.service.StatsService" parent="abstractService">
        <property name="dao" ref="statsDAO"/>
    </bean>

    <bean id="usersService" class="ro.pub.acs.traffic.collector.service.UsersService" parent="abstractService">
        <property name="dao" ref="usersDAO"/>
    </bean>
</beans>