<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.pub.acs.traffic.collector"
    android:versionCode="7"
    android:versionName="2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-configuration android:reqTouchScreen="finger" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon3"
        android:label="@string/app_name" >
        <activity
            android:name="TrafficCollector"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="TrafficCollectorService" />

        <activity android:name="TrafficCollectorMain" >
        </activity>
        <activity android:name="PlotActivity" >
        </activity>
        <activity android:name="TrafficCollectorSpeed" >
        </activity>
        <activity android:name="TrafficCollectorAbout" >
        </activity>
        <activity android:name="TrafficCollectorSettings" >
        </activity>
        <activity android:name="TrafficMap" >
        </activity>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" >
        </uses-library>
    </application>

</manifest>